        /* When the input field gets focus, change its width to 100% */
        .log_out {
            text-align: right;
        }

        .search_field {
            width: 100px;
        }

        .search_buttons {
            padding-top: 10px;
            margin-left: 4px;
        }

        .navbar {
            border-bottom: grey solid 1px;
        }

        .main_body {
            padding: 10px;
        }

        .card {
            padding: 5px;
        }

        .main_body {
            text-align: center;
            padding-top: 45px;

        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        .notification {
            height: 40px;
            width: 40px;
            padding: 12px 13px;
        }

        .feedback {
            height: 40px;
            width: 100px;
            padding: 10px 11px;
        }

        .notification,
        .feedback {
            background-color:#007bff;
            color: white;
            text-decoration: none;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }
        i:hover{
            color: blue;
        }
        .notification:hover,
        .feedback:hover {
            background: white;
        }

        .notification .badge,
        .feedback .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: red;
            color: white;
        }

        .oracleId {
            color: #666;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
        }

        .card_one {
            margin: 0 auto;
            /* Added */
            float: none;
            /* Added */
            margin-bottom: 10px;
            /* Added */
        }

        .circle {

            border-radius: 50%;
            width: 100px;
            height: 100px;
            padding-left: 38px;
            padding-top: 25px;
            background-color:grey;
            box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        }
        .profilePic{
            margin-right:0%;
        }




        /* new styles */

        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }
          
          .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          .requestfb{
              color: rgb(29, 33, 41);
              font-family: Helvetica, Arial, sans-serif;
              font-size: 12px;
              font-weight: 600;
              line-height: 16.0833px;
              list-style-type: none;
              overflow-wrap: break-word;    
          }
          .requestCnt{
            color: rgb(29, 33, 41);
            cursor: pointer;
            direction: ltr;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 16.0833px;
            list-style-type: none;
            overflow-wrap: break-word;
            display: inline;
          }
          input[type=text] {
            width: 300px;
            -webkit-transition: width .35s ease-in-out;
            transition: width .35s ease-in-out;
          }
          input[type=text]:focus {
            width: 450px;
          }