<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="admin_styles.css">
    <!----script src="main.js"></script-->
    <div class="welcome">
    <h4 class="header_uname">Welcome XYZ</h4>
    </div>
    <div class="log_out">
        
    
    <a href="">Log Out</a></div>
    <h5 class="role_type">Role: Human Resources</h5>
    

</head>
<body>
    <div class="container">
        <div class="grid-container">
            <div>Previous Feedback</div>
            <div>Searching</div>
            <div>Registration</div>
            <div>Count of Candidates</div>
            
        </div>
            
            
    </div>
    
</body>
</html>